In [1]:
import pandas as pd

In [3]:
amzn = pd.read_csv('./data/AMZN_historical_data.csv')
nvda = pd.read_csv('./data/NVDA_historical_data.csv')
tsla = pd.read_csv('./data/TSLA_historical_data.csv')

In [4]:
amzn

            Date        Open        High         Low       Close      Volume
0     1997-05-15    0.097917    0.125000    0.096354    0.121875  1443120000
1     1997-05-16    0.086458    0.098958    0.085417    0.098438   294000000
2     1997-05-19    0.085417    0.088542    0.081250    0.088021   122136000
3     1997-05-20    0.081771    0.087500    0.081771    0.086458   109344000
4     1997-05-21    0.071354    0.082292    0.068750    0.081771   377064000
...          ...         ...         ...         ...         ...         ...
7009  2025-03-26  201.130005  206.009995  199.929993  205.839996    32855300
7010  2025-03-27  201.360001  203.789993  199.279999  200.889999    27317700
7011  2025-03-28  192.720001  199.259995  191.880005  198.419998    52548200
7012  2025-03-31  190.259995  191.330002  184.399994  188.190002    63489900
7013  2025-04-01  192.845001  193.929993  187.199997  187.860001    19576552

[7014 rows x 6 columns]

In [5]:
nvda

            Date        Open        High         Low       Close      Volume
0     1999-01-22    0.037612    0.044775    0.035581    0.040119  2714688000
1     1999-01-25    0.041552    0.042029    0.037612    0.040597   510480000
2     1999-01-26    0.038328    0.042865    0.037731    0.042029   343200000
3     1999-01-27    0.038209    0.039403    0.036298    0.038447   244368000
4     1999-01-28    0.038089    0.038447    0.037850    0.038209   227520000
...          ...         ...         ...         ...         ...         ...
6584  2025-03-26  113.760002  118.839996  112.709999  118.730003   293463300
6585  2025-03-27  111.430000  114.449997  110.660004  111.349998   236902100
6586  2025-03-28  109.669998  112.870003  109.070000  111.489998   229872500
6587  2025-03-31  108.379997  110.959999  103.650002  105.129997   298611800
6588  2025-04-01  108.555000  109.929901  106.470001  108.532997   119996978

[6589 rows x 6 columns]

In [6]:
tsla

            Date        Open        High         Low       Close     Volume
0     2010-06-29    1.592667    1.666667    1.169333    1.266667  281494500
1     2010-06-30    1.588667    2.028000    1.553333    1.719333  257806500
2     2010-07-01    1.464000    1.728000    1.351333    1.666667  123282000
3     2010-07-02    1.280000    1.540000    1.247333    1.533333   77097000
4     2010-07-06    1.074000    1.333333    1.055333    1.333333  103003500
...          ...         ...         ...         ...         ...        ...
3708  2025-03-26  272.059998  284.899994  266.510010  282.660004  153629800
3709  2025-03-27  273.130005  291.850006  271.820007  272.480011  162572100
3710  2025-03-28  263.549988  276.100006  260.570007  275.579987  123809400
3711  2025-03-31  259.160004  260.559998  243.360001  249.309998  133450000
3712  2025-04-01  271.100006  277.450012  259.250000  263.734985   87311297

[3713 rows x 6 columns]